# elm stuff
elm-stuff

# npm stuff
node_modules

# all npm deps are dev-deps, seems no need for this
package-lock.json

# intermediary compiled Elm app
src/Native/elmapp.js

*~

.vscode/targets.log
.vscode/configurationCache.log